@model IEnumerable<Eshop.Models.User>

<h2>Foydalanuvchilar ro'yhati</h2>
<table class="table">
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Foydalanuvchiga rol berish</a>
            </td>
        </tr>
    }
</table>